// colors
$primary-color: #a5243d; // darkred
$menu-background: $primary-color; // darkred
$menu-item: #cee0dc; // lavanda
$menu-item-hover: #afaab9; // silver metallic

// text color
$main-text-color: rgb(88, 81, 103);

// palete
$navy-blue: #03045e;
$dark-cornflow: #023e8a;
$star-command: #0077b6;
$blue-green: #0096c7;
$cerulean-cray: #00b4d8;
$sky-blue-cray: #48cae4;
$sky-blue-cray2: #90e0ef;
$blizzard-blue: #ade8f4;
$powder-blue: #caf0f8;

$light-green: $dark-cornflow;
$light-green-text: $blizzard-blue;
$light-green-hover: $star-command;
$light-green-text-norm: white;
$light-green-text-hover: $powder-blue;

// BTNS COLORS
$light-blue: rgb(142, 194, 242);
$light-blue-text: rgb(255, 255, 255);
$light-blue-hover: rgb(44, 100, 153);
$light-blue-text-norm: rgb(21, 65, 105);
$light-blue-text-hover: rgb(153, 200, 243);

$outline-light-blue: rgba(255, 255, 255, 0.4);
$outline-light-blue-text: rgb(42, 124, 199);

$yellow: rgba(255, 166, 43, 1);
$yellow-text: rgb(255, 255, 255);

// DELETE BTNS
$light-red: #ff4500;
$light-red-text: white;
$light-red-hover: #ff0000;
$light-red-text-norm: white;
$light-red-text-hover: black;

$green: #52cc00;
$green-text: white;
$green-hover: #47b300;
$green-text-norm: white;
$green-text-hover: black;

// PAGES

// $footer: rgb(37, 43, 66);
// $footer-bottom: rgb(142, 194, 242);
