@import "../variables/colors";

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(173, 185, 255, 0.4);
}

.modal-content {
  margin: 15% auto;
  padding: 40px;
  width: 80%;
  color: black;
  background: white;

  -webkit-box-shadow: 1px 1px 15px -5px rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 15px -5px rgba(0, 0, 0, 0.6);
  h4 {
    margin-top: 1rem;
    margin-bottom: 0.4rem;
  }
  p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 300;
    font-weight: 300;
  }
  a {
    color: white;
    font-weight: 550;
    &:hover {
      color: $main-text-color;
      border-bottom: 3px solid $main-text-color;
    }
  }
  ul {
    li {
      font-size: 1.2rem;
      font-weight: 300;
      padding: 0.25rem;
    }
    li:before {
      font-size: 1.2rem;
      font-weight: 900;
      content: "\00B7";
      margin-right: 5px;
    }
  }
}
