.container {
  // Option to give a width to the container
  // width: $website-width-desktop;
  padding: 1rem 1rem;
  margin-left: auto;
  margin-right: auto;
  // overflow: hidden;
  background: linear-gradient(
    58deg,
    rgba(0, 119, 182, 1) 0%,
    rgba(72, 202, 228, 1) 100%
  );

  position: relative;
  height: 90vh;
}

//z-index
.z-index-1 {
  z-index: 1;
}

//
.hide {
  visibility: hidden;
  display: none;
}

.items-w-100 {
  width: 100%;
}
