@import "../variables/colors";

.footer {
  position: absolute;

  height: 80px;
  bottom: 0;
  padding: 1rem;
  display: flex;
  justify-content: center;

  align-items: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  color: white;

  .footer__text {
    & p {
      font-size: 1.1rem;
      font-weight: $thin;
    }

    & a {
      color: white;
      font-weight: 500;
      &:hover {
        font-weight: 500;
        border-bottom: 3px solid white;
      }
    }
  }
}
