@import "../variables/colors";

#footer {
  bottom: 0;

  padding: 1rem;
  color: $main-text-color;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;

  & p {
    color: $main-text-color;
    font-size: 1.1rem;
    font-weight: $thin;
  }

  & a {
    color: $main-text-color;
    font-weight: 500;
    &:hover {
      font-weight: 500;
      border-bottom: 3px solid $main-text-color;
    }
  }
}
