@import "../variables/colors";

:root {
  font-weight: $thin;
}

h4 {
  font-weight: $normal;
  color: #575366;
}

%spacing-row {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.locations__list {
  .row:nth-of-type(even) {
    @extend %spacing-row;

    background-color: #f0f0ea;

    border-radius: 0.3rem;
    &:hover {
      color: #efebce;
      background-color: $cerulean-cray;
      i {
        color: #efebce;
        &:hover {
          color: #5b3335;
        }
      }
    }
  }

  .row:nth-of-type(odd) {
    @extend %spacing-row;
    background-color: #f0edd1;
    border-radius: 0.3rem;
    &:hover {
      color: #efebce;
      background-color: $star-command;
      i {
        color: #efebce;
        &:hover {
          color: #5b3335;
        }
      }
    }
  }
}

.locations__list__header {
  @extend %spacing-row;
  // margin-left: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;

  margin-bottom: 0.65rem;
  .col__edit {
    margin-left: 2rem;
  }
}

.grid__item {
  color: $navy-blue;
  * button {
    outline: none;
  }

  * i {
    color: #5b3335;
    &:hover {
      border: none;
      cursor: pointer;
      color: $star-command;
    }
  }
}

.grid__item__edit {
  background-color: #efebce;
  color: #5b3335;
  border-radius: 5px;
  * button {
    outline: none;
  }

  * i {
    color: $star-command;
    &:hover {
      border: none;
      cursor: pointer;
      color: white;
    }
  }
}
.main__location___row {
  background-color: $star-command !important;
  color: white !important;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
  * button {
    outline: none;
  }

  * i {
    color: #efebce;
    &:hover {
      border: none;
      cursor: pointer;
      color: #5b3335;
    }
  }
}
.delete__row {
  display: flex;
  color: #5b3335 !important;
  width: 100% !important;
  padding-left: 1rem !important;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  &:hover {
    background-color: #f0edd1 !important;
    border-radius: 0.3rem !important;
  }
}

.row__deleting {
  color: #efebce !important;
  background-color: #a76268 !important;
  i {
    color: #efebce !important;
    &:hover {
      color: #5b3335 !important;
    }
  }
}

.error__row {
  margin-top: 0.5rem;
  width: 100%;
  color: #efebce;
  background-color: #ff5148;
  padding: 0.5rem;
  border-radius: 5px;
}

.form__login {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: white;
  line-height: 3rem;
  // height: 100%;
  .form__title__login {
    // color: "white";
    font-family: $font-logo;
    letter-spacing: 1px;
  }
  .form__title__icon {
    margin-bottom: 2rem;
  }
}
.form__logo_container {
  margin-bottom: 10px;
}

.form__input__container {
  background-color: #0077b6;
  padding: 1rem;
  margin: 5rem;
  margin-top: 2rem;
  // border: #0096c7 2px solid;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.form__inputs {
  padding: 4rem;
  // margin: 0;
  // border-radius: 0.5rem;
  // background-color: #efebce;
  text-align: center;
  // box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.5);
  // width: 50%;
  .form__title__container {
    width: 100%;
  }
  form {
    // width: 60%;
    padding-left: 1rem;
    padding-right: 1rem;
    input {
      // width: 60%;
    }
  }
  // * {
  //   margin-top: 0.5rem;
  //   margin-bottom: 0.5rem;
  // }
  h3 {
    color: white;
    letter-spacing: 1px;
    font-weight: $thin;
  }
}

.users__list {
  position: relative;
}
